/* Gallery.module.css */
.galleryContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
    flex-wrap: wrap;
    margin: 0 2rem;
    padding: 0rem;
   }
   
   .galleryItem {
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    height: 63vh;
    width: 100%;
   }
   
   .galleryImage {
    transition: transform 0.3s ease-in-out;
   }
   
   .galleryImage:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
   }
   
   .galleryTitle {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 10;
    padding-top: 1rem;
    font-size: 1.5em; /* Increase the font size */

   }
   .galleryItem:nth-of-type(2) .galleryTitleText {
    color: #9b5c46; /* Brown color */
   }
   
   .galleryTitleText {
    color: white;
   }
   
   .galleryTitleText:nth-child(2) {
    color: #9b5c46;
   }
   
   .galleryButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
   }
   
   .galleryButton:hover {
    opacity: 0.5;
   }
   
   @media (min-width: 768px) {
    .galleryContainer {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       margin: 0;
       padding: 0;
    }
   }