/* News.module.css */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble');

.container {
    /* Set a background image for the container */
    background-image: url('/mouths.png');
    background-size: 35%;
    background-repeat: repeat-y;
    background-position: center;
    padding:  5rem; /* Add padding around the container */
  }
  
  .article {
    margin-bottom:  2rem; /* Space between articles */
    padding:  1rem; /* Padding around each article */
    border-radius:  0.5rem; /* Optional: rounded corners for each article */
    background-color: rgba(255,  255,  255,  0.8); /* Optional: semi-transparent white background */
  }
  
  .summary {
    font-family: 'Your Font Family', sans-serif; /* Change the font family */
    color: #333; /* Adjust the text color */
  }
  
  .summary h2 {
    font-size:  1.5rem; /* Adjust the heading size */
    margin-bottom:  0.5rem; /* Space below the heading */
  }
  
  .summary p {
    font-size:  1rem; /* Adjust the paragraph text size */
    margin-bottom:  0.5rem; /* Space below the paragraph */
  }

  .custom-font {
    font-family: 'Rubik Scribble', cursive;
  }
  
  /* Apply the font to all text within the .custom-font container */
  .custom-font * {
    font-family: inherit;
  }

/* NewsPage.module.css */

.items-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height:  100vh; /* Adjust as needed, this will make the div take the full viewport height */
}
