@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble');

.custom-font {
   font-family: 'Rubik Scribble', sans-serif;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    
}

h1, h2, h3 {
    color: #9b5c46; 
}
h1 {

    font-size: 5rem;
    font-family: 'Rubik', sans-serif;

}
header h4 {
    position: absolute;
    left: 20%;
    bottom: 1rem;
    font-size: 1.6rem;
}

a {
    color: #9b5c46;
    position: relative;
}

a:hover {
    color: #9b5c46;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #9b5c46;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: #9b5c46; /* Change to the color you want */
}

table {
    width: 100%; /* Make the table take up the full width of the page */
    border-collapse: separate; /* This allows for cell spacing */
    border-spacing: 10px; /* This adds space between cells */
}

td, th {
    padding: 10px; /* Add padding to table cells */
}

.navbar {
    position: fixed;
    
}
img {
    object-fit: contain; /* or "contain" */
   }
.expand-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
 }
 
